In [41]:
import pandas as pd

In [42]:
from datetime import datetime

In [43]:
#import for turning byline string-type into byline dictionary-type

import ast

In [44]:
import ast
def trim_first_name(row):
    try: 
        lead_paragraph = row.lead_paragraph
        byline = row.byline
        text = row.text

        byline = ast.literal_eval(byline)
        person = byline['person']
        first = person[0]['firstname']

        first_split = text.split(lead_paragraph)
        first_split = first_split[1]

        second_split = first_split.split(first)
        output = second_split[0]
    
    except:
        
        output = 'NaN'
    
    return output

In [45]:
#function that removes string.punctuation w/out the '?'
def punc_strip(string):
    my_lil_punc_string = '!"#$$%&\()*+,-./:;<=>@[\\]^_`{|}~'
    extras = '[\',.â€œ-â€â€™!â€”:()?@]$;"â€“/#|&â€˜Â°\\â€¦%<â€+Â¡Â«Â»_â€¢*>â€º=â‚¬Â·â– â™¦Â£ğŸ’ƒğŸ½âˆ™â‰ {}Â¿ğŸ˜‚Â¥Ì‡Ìƒâ˜…Â§ğŸ‡ºğŸ‡¸Â©ï¼ğŸ’£ã€‚^â€‘ğŸ”¥ğŸ˜¡â€³Ì€ğŸš¨âƒ£ğŸ˜¤ğŸŒ«`â—ğŸ¤­âœ“ğŸ“–ğŸ“¹âœ‹ğŸ‘€Â¢ğŸ’”ğŸ˜â€’ğŸ“²ğŸ“ºğŸ™ï¿¼ğŸ˜â†“â¤ï¸ğŸ˜˜ğŸ‰ğŸ¥‚ğŸ¦”ğŸ¥©ğŸğŸ‘ğŸ¤¸ğŸ•³ğŸŒµâ›½âš•ğŸ”Šâ„¢â€ â€¾â€²Ìˆ×´Ã·ğŸ’œğŸ’›Â¨Â´ğŸ’¥â˜„Ì~â€šâŒšâ†‘ğŸğŸ‡°ğŸ‡ªğŸŒâ†’ğŸ—£â”€â€¼â—‡ğŸ˜¾ğŸ¤·ğŸ»â™‚âœ”ğŸ’ªÂ®â™ªğŸ˜±ğŸ‘ØŒÂ¯âŒ˜ğŸŒˆğŸ¤©âœ¨ÌŠğŸ¤£âˆ’ğŸ˜‰â™¥ğŸ‘ğŸ’©ğŸ¤ğŸ’‹ğŸ§“ğŸ‘®ğŸ‘´â™€ğŸ¥´ğŸâš¡ğŸ¤”ğŸ™Ã—ğŸ’¯ğŸš‚ğŸ™ğŸ¾à¹ˆà¦¾à¦‚à¦¼à§‡à§à¦¿à§ğŸ†ğŸ’¦ğŸ¥ğŸ’Œâ—¾ğŸ“±ğŸ‘‹ğŸ¼ØŸğŸ™‚ğŸš«â—ğŸ™„ğŸ›‘ğŸŒ§â„Ì¶ğŸ¤ï¼›ğŸ¤¯ğŸ§µğŸ˜¹Â¶â¡ğŸ˜ğŸ”§âœŒâ¼â—‰ğŸ±âšªÌ§Ì„â”ğŸ˜ºğŸ˜ğŸ‡¬ğŸ‡§ğŸ‘ğŸº'
    punc_list = my_lil_punc_string + extras
    
    for char in string:
        if char in punc_list:  
            string = string.replace(char, "")
            
    return string

In [46]:
_2019_punc_string = '[\', .â€œ-â€â€™!â€”:()?@]$;"â€“/#|&â€˜Â°\\â€¦%<â€+Â¡Â«Â»_â€¢*>â€º=â‚¬Â·â– â™¦Â£ğŸ’ƒğŸ½âˆ™â‰ {}Â¿ğŸ˜‚Â¥Ì‡Ìƒâ˜…Â§ğŸ‡ºğŸ‡¸Â©ï¼ğŸ’£ã€‚^â€‘ğŸ”¥ğŸ˜¡â€³Ì€ğŸš¨âƒ£ğŸ˜¤ğŸŒ«`â—ğŸ¤­âœ“ğŸ“–ğŸ“¹âœ‹ğŸ‘€Â¢ğŸ’”ğŸ˜â€’ğŸ“²ğŸ“ºğŸ™ï¿¼ğŸ˜â†“â¤ï¸ğŸ˜˜ğŸ‰ğŸ¥‚ğŸ¦”ğŸ¥©ğŸğŸ‘ğŸ¤¸ğŸ•³ğŸŒµâ›½âš•ğŸ”Šâ„¢â€ â€¾â€²Ìˆ×´Ã·ğŸ’œğŸ’›Â¨Â´ğŸ’¥â˜„Ì~â€šâŒšâ†‘ğŸğŸ‡°ğŸ‡ªğŸŒâ†’ğŸ—£â”€â€¼â—‡ğŸ˜¾ğŸ¤·ğŸ»â™‚âœ”ğŸ’ªÂ®â™ªğŸ˜±ğŸ‘ØŒÂ¯âŒ˜ğŸŒˆğŸ¤©âœ¨ÌŠğŸ¤£âˆ’ğŸ˜‰â™¥ğŸ‘ğŸ’©ğŸ¤ğŸ’‹ğŸ§“ğŸ‘®ğŸ‘´â™€ğŸ¥´ğŸâš¡ğŸ¤”ğŸ™Ã—ğŸ’¯ğŸš‚ğŸ™ğŸ¾à¹ˆà¦¾à¦‚à¦¼à§‡à§à¦¿à§ğŸ†ğŸ’¦ğŸ¥ğŸ’Œâ—¾ğŸ“±ğŸ‘‹ğŸ¼ØŸğŸ™‚ğŸš«â—ğŸ™„ğŸ›‘ğŸŒ§â„Ì¶ğŸ¤ï¼›ğŸ¤¯ğŸ§µğŸ˜¹Â¶â¡ğŸ˜ğŸ”§âœŒâ¼â—‰ğŸ±âšªÌ§Ì„â”ğŸ˜ºğŸ˜ğŸ‡¬ğŸ‡§ğŸ‘ğŸº'

# import csv

In [6]:
jan19 = pd.read_csv('2019_build/2019/jan19.csv', index_col='Unnamed: 0')
feb19 = pd.read_csv('2019_build/2019/feb19.csv', index_col='Unnamed: 0')
mar19 = pd.read_csv('2019_build/2019/mar19.csv', index_col='Unnamed: 0')
apr19 = pd.read_csv('2019_build/2019/apr19.csv', index_col='Unnamed: 0')
may19 = pd.read_csv('2019_build/2019/may19.csv', index_col='Unnamed: 0')
jun19 = pd.read_csv('2019_build/2019/jun19.csv', index_col='Unnamed: 0')
jul19 = pd.read_csv('2019_build/2019/jul19.csv', index_col='Unnamed: 0')
aug19 = pd.read_csv('2019_build/2019/aug19.csv', index_col='Unnamed: 0')
sep19 = pd.read_csv('2019_build/2019/sep19.csv', index_col='Unnamed: 0')
oct19 = pd.read_csv('2019_build/2019/oct19.csv', index_col='Unnamed: 0')
nov19 = pd.read_csv('2019_build/2019/nov19.csv', index_col='Unnamed: 0')
dec19 = pd.read_csv('2019_build/2019/dec19.csv', index_col='Unnamed: 0')

In [7]:
jan19_df = jan19.copy()
feb19_df = feb19.copy()
mar19_df = mar19.copy()
apr19_df = apr19.copy()
may19_df = may19.copy()
jun19_df = jun19.copy()
jul19_df = jul19.copy()
aug19_df = aug19.copy()
sep19_df = sep19.copy()
oct19_df = oct19.copy()
nov19_df = nov19.copy()
dec19_df = dec19.copy()

In [8]:
list_2019_df = [jan19_df, feb19_df, mar19_df, apr19_df, may19_df, jun19_df, jul19_df, aug19_df, sep19_df, oct19_df, nov19_df, dec19_df]

In [9]:
%%time
uber2019 = pd.concat(list_2019_df)
uber2019.reset_index(drop=True, inplace=True)

CPU times: user 36 ms, sys: 6.53 ms, total: 42.5 ms
Wall time: 42.1 ms

In [145]:
uber2019.shape

(41748, 21)

In [148]:
sum(uber2019.type_of_material == "Op-Ed")

4139

In [10]:
#full_19 = uber2019.to_csv('raw_19.csv')

In [11]:
#full_19 = uber2019.to_csv('2019/raw_jan19.csv', index_col='Unnamed: 0')

In [12]:
# jan18 = pd.read_csv('2018/jan18.csv', index_col='Unnamed: 0')
# feb18 = pd.read_csv('2018/feb18.csv', index_col='Unnamed: 0')
# mar18 = pd.read_csv('2018/mar18.csv', index_col='Unnamed: 0')
# apr18 = pd.read_csv('2018/apr18.csv', index_col='Unnamed: 0')
# may18 = pd.read_csv('2018/may18.csv', index_col='Unnamed: 0')
# jun18 = pd.read_csv('2018/jun18.csv', index_col='Unnamed: 0')
# jul18 = pd.read_csv('2018/jul18.csv', index_col='Unnamed: 0')
# aug18 = pd.read_csv('2018/aug18.csv', index_col='Unnamed: 0')
# sep18 = pd.read_csv('2018/sep18.csv', index_col='Unnamed: 0')
# oct18 = pd.read_csv('2018/oct18.csv', index_col='Unnamed: 0')
# nov18 = pd.read_csv('2018/nov18.csv', index_col='Unnamed: 0')
# dec18 = pd.read_csv('2018/dec18.csv', index_col='Unnamed: 0')

In [13]:
# jan18_df = jan18.copy()
# feb18_df = feb18.copy()
# mar18_df = mar18.copy()
# apr18_df = apr18.copy()
# may18_df = may18.copy()
# jun18_df = jun18.copy()
# jul18_df = jul18.copy()
# aug18_df = aug18.copy()
# sep18_df = sep18.copy()
# oct18_df = oct18.copy()
# nov18_df = nov18.copy()
# dec18_df = dec18.copy()

In [14]:
# list_2018_df = [jan18_df, feb18_df, mar18_df, apr18_df, may18_df, jun18_df, jul18_df, aug18_df, sep18_df, oct18_df, nov18_df, dec18_df]

In [15]:
# %%time
# uber2018 = pd.concat(list_2018_df)
# uber2018.reset_index(drop=True, inplace=True)

In [16]:
# jan17 = pd.read_csv('2017/jan17.csv', index_col='Unnamed: 0')
# feb17 = pd.read_csv('2017/feb17.csv', index_col='Unnamed: 0')
# mar17 = pd.read_csv('2017/mar17.csv', index_col='Unnamed: 0')
# apr17 = pd.read_csv('2017/apr17.csv', index_col='Unnamed: 0')
# may17 = pd.read_csv('2017/may17.csv', index_col='Unnamed: 0')
# jun17 = pd.read_csv('2017/jun17.csv', index_col='Unnamed: 0')
# jul17 = pd.read_csv('2017/jul17.csv', index_col='Unnamed: 0')
# aug17 = pd.read_csv('2017/aug17.csv', index_col='Unnamed: 0')
# sep17 = pd.read_csv('2017/sep17.csv', index_col='Unnamed: 0')
# oct17 = pd.read_csv('2017/oct17.csv', index_col='Unnamed: 0')
# nov17 = pd.read_csv('2017/nov17.csv', index_col='Unnamed: 0')
# dec17 = pd.read_csv('2017/dec17.csv', index_col='Unnamed: 0')

In [17]:
# jan17_df = jan17.copy()
# feb17_df = feb17.copy()
# mar17_df = mar17.copy()
# apr17_df = apr17.copy()
# may17_df = may17.copy()
# jun17_df = jun17.copy()
# jul17_df = jul17.copy()
# aug17_df = aug17.copy()
# sep17_df = sep17.copy()
# oct17_df = oct17.copy()
# nov17_df = nov17.copy()
# dec17_df = dec17.copy()

In [18]:
# list_2017_df = [jan17_df, feb17_df, mar17_df, apr17_df, may17_df, jun17_df, jul17_df, aug17_df, sep17_df, oct17_df, nov17_df, dec17_df]

In [19]:
# %%time
# uber2017 = pd.concat(list_2017_df)
# uber2017.reset_index(drop=True, inplace=True)

In [20]:
# jan16 = pd.read_csv('2016/jan16.csv', index_col='Unnamed: 0')
# feb16 = pd.read_csv('2016/feb16.csv', index_col='Unnamed: 0')
# mar16 = pd.read_csv('2016/mar16.csv', index_col='Unnamed: 0')
# apr16 = pd.read_csv('2016/apr16.csv', index_col='Unnamed: 0')
# may16 = pd.read_csv('2016/may16.csv', index_col='Unnamed: 0')
# jun16 = pd.read_csv('2016/jun16.csv', index_col='Unnamed: 0')
# jul16 = pd.read_csv('2016/jul16.csv', index_col='Unnamed: 0')
# aug16 = pd.read_csv('2016/aug16.csv', index_col='Unnamed: 0')
# sep16 = pd.read_csv('2016/sep16.csv', index_col='Unnamed: 0')
# oct16 = pd.read_csv('2016/oct16.csv', index_col='Unnamed: 0')
# nov16 = pd.read_csv('2016/nov16.csv', index_col='Unnamed: 0')
# dec16 = pd.read_csv('2016/dec16.csv', index_col='Unnamed: 0')

In [21]:
# jan16_df = jan16.copy()
# feb16_df = feb16.copy()
# mar16_df = mar16.copy()
# apr16_df = apr16.copy()
# may16_df = may16.copy()
# jun16_df = jun16.copy()
# jul16_df = jul16.copy()
# aug16_df = aug16.copy()
# sep16_df = sep16.copy()
# oct16_df = oct16.copy()
# nov16_df = nov16.copy()
# dec16_df = dec16.copy()

In [22]:
# list_2016_df = [jan16_df, feb16_df, mar16_df, apr16_df, may16_df, jun16_df, jul16_df, aug16_df, sep16_df, oct16_df, nov16_df, dec16_df]

In [23]:
# %%time
# uber2016 = pd.concat(list_2016_df)
# uber2016.reset_index(drop=True, inplace=True)

In [24]:
# print(uber2019.shape)
# print(uber2018.shape)
# print(uber2017.shape)
# print(uber2016.shape)

# concat years into ranges

In [25]:
# function to concat ranges

# column parsing

In [109]:
all_but_text_type = ['abstract', 'web_url', 'snippet', 'lead_paragraph', 'source',
       'multimedia', 'headline', 'keywords', 'pub_date', 'document_type',
       'news_desk', 'section_name', 'byline', '_id',
       'word_count', 'uri', 'print_section', 'print_page', 'subsection_name']

In [110]:
text_type = ['text', 'type_of_material']

# capstone2 export

In [143]:
capstone2 = uber2019.copy()

In [149]:
capstone2.columns

Index(['abstract', 'web_url', 'snippet', 'lead_paragraph', 'source',
       'multimedia', 'headline', 'keywords', 'pub_date', 'document_type',
       'news_desk', 'section_name', 'byline', 'type_of_material', '_id',
       'word_count', 'uri', 'print_section', 'print_page', 'subsection_name',
       'text'],
      dtype='object')

## filter type_of_material by section_name (2019 ONLY!)

In [151]:
capstone2['text'] = capstone2.apply(trim_first_name, axis=1)

## filter type_of_material by section_name (2019 ONLY!)

In [152]:
capstone2.shape

(41748, 21)

In [153]:
p_sec_na = capstone2.print_section.notna()

In [154]:
capstone2 = capstone2[p_sec_na]

In [155]:
capstone2.shape

(30256, 21)

In [156]:
sum(capstone2['type_of_material'] == 'News')

28213

In [157]:
sum(capstone2['type_of_material'] == 'Op-Ed')

2043

In [158]:
%%time
# p_sec_na = capstone2.print_section.notna()
# capstone2 = capstone2[[p_sec_na]]#.reset_index(inplace=True)
print(capstone2.shape)

(30256, 21)
CPU times: user 551 Âµs, sys: 279 Âµs, total: 830 Âµs
Wall time: 1.79 ms

In [159]:
p_sec_na = capstone2.print_section.notna()

In [160]:
%%time
capstone2.reset_index(inplace=True, drop=True)
capstone2 = capstone2[text_type]
print(capstone2.head())
print(capstone2.type_of_material.value_counts())

  text type_of_material
0  NaN            Op-Ed
1  NaN            Op-Ed
2  NaN            Op-Ed
3  NaN            Op-Ed
4  NaN            Op-Ed
News     28213
Op-Ed     2043
Name: type_of_material, dtype: int64
CPU times: user 14.8 ms, sys: 2.36 ms, total: 17.2 ms
Wall time: 20.1 ms

In [161]:
capstone2.shape

(30256, 2)

# take out your punctuation

In [104]:
%%time
capstone2.to_csv('data/capstone2_2019_final.csv')

CPU times: user 3.33 s, sys: 216 ms, total: 3.55 s
Wall time: 3.65 s

# didn't move type_of_material news section opinion to type_of_material

In [105]:
%%time
capstone2.text.apply(punc_strip)

CPU times: user 28.7 s, sys: 332 ms, total: 29 s
Wall time: 29.3 s

0         In 2019 heres what we could do instead In mos...
1         Many years before back in Russia the two youn...
2         At a critical moment in the film just after t...
3         No other country in the world symbolizes the ...
4         The cycle has to be reversed In the United St...
                               ...
30251                                                  NaN
30252     The two men have a history of friction and Ch...
30253     Inside his checked luggage wrapped in a plast...
30254     Chief Gallagher was acquitted this summer of ...
30255     Draft letters posted online Tuesday by the En...
Name: text, Length: 30256, dtype: object

In [106]:
%%time
p_sec_na = capstone2.print_section.notna()
capstone2 = capstone2[p_sec_na]#.reset_index(inplace=True)

AttributeError: 'DataFrame' object has no attribute 'print_section'

In [107]:
%%time
capstone2

CPU times: user 2 Âµs, sys: 0 ns, total: 2 Âµs
Wall time: 3.81 Âµs

                                                    text type_of_material
0      ', 'In 2019, hereâ€™s what we could do instead.'...            Op-Ed
1      ', 'Many years before, back in Russia, the two...            Op-Ed
2      ', 'At a critical moment in the film, just aft...            Op-Ed
3      ', 'No other country in the world symbolizes t...            Op-Ed
4      ', 'The cycle has to be reversed. In the Unite...            Op-Ed
...                                                  ...              ...
30251                                                NaN             News
30252  ', 'The two men have a history of friction, an...             News
30253  ', 'Inside his checked luggage, wrapped in a p...             News
30254  ', 'Chief Gallagher was acquitted this summer ...             News
30255  ', 'Draft letters posted online Tuesday by the...             News

[30256 rows x 2 columns]