In [1]:
import pandas as pd

In [2]:
from datetime import datetime

In [3]:
#import for turning byline string-type into byline dictionary-type

import ast

In [4]:
jan19 = pd.read_csv('2019/jan19.csv', index_col='Unnamed: 0')
feb19 = pd.read_csv('2019/feb19.csv', index_col='Unnamed: 0')
mar19 = pd.read_csv('2019/mar19.csv', index_col='Unnamed: 0')
apr19 = pd.read_csv('2019/apr19.csv', index_col='Unnamed: 0')
may19 = pd.read_csv('2019/may19.csv', index_col='Unnamed: 0')
jun19 = pd.read_csv('2019/jun19.csv', index_col='Unnamed: 0')
jul19 = pd.read_csv('2019/jul19.csv', index_col='Unnamed: 0')
aug19 = pd.read_csv('2019/aug19.csv', index_col='Unnamed: 0')
sep19 = pd.read_csv('2019/sep19.csv', index_col='Unnamed: 0')
oct19 = pd.read_csv('2019/oct19.csv', index_col='Unnamed: 0')
nov19 = pd.read_csv('2019/nov19.csv', index_col='Unnamed: 0')
dec19 = pd.read_csv('2019/dec19.csv', index_col='Unnamed: 0')

In [5]:
jan19_df = jan19.copy()
feb19_df = feb19.copy()
mar19_df = mar19.copy()
apr19_df = apr19.copy()
may19_df = may19.copy()
jun19_df = jun19.copy()
jul19_df = jul19.copy()
aug19_df = aug19.copy()
sep19_df = sep19.copy()
oct19_df = oct19.copy()
nov19_df = nov19.copy()
dec19_df = dec19.copy()

In [6]:
list_2019_df = [jan19_df, feb19_df, mar19_df, apr19_df, may19_df, jun19_df, jul19_df, aug19_df, sep19_df, oct19_df, nov19_df, dec19_df]

In [7]:
%%time
uber2019 = pd.concat(list_2019_df)
uber2019.reset_index(drop=True, inplace=True)

CPU times: user 38 ms, sys: 7.23 ms, total: 45.3 ms
Wall time: 44.4 ms

In [8]:
uber2019.shape

(41748, 21)

In [9]:
#uber2019.tail();

In [10]:
all_but_text_type = ['abstract', 'web_url', 'snippet', 'lead_paragraph', 'source',
       'multimedia', 'headline', 'keywords', 'pub_date', 'document_type',
       'news_desk', 'section_name', 'byline', '_id',
       'word_count', 'uri', 'print_section', 'print_page', 'subsection_name']

# drop some rows and export for more eda
# make df for eda

In [11]:
eda = uber2019.copy()

In [12]:
columns_drop = ['web_url','source','multimedia', '_id', 'uri']

In [13]:
eda.drop(columns_drop, axis=1, inplace=True)
eda.reset_index(drop=True, inplace=True)

# convert pub_date string to datetime object and iterate through each date and choose equal number of op_ed v news

In [14]:
#date_time_obj = datetime.strptime(test_date_str, '%Y-%m-%d %H:%M:%S')

In [15]:
#datetime.fromisoformat(test_date_str)

In [16]:
#d = datetime.fromisoformat(test_date_str)
#d.strftime('%Y-%m-%d %H:%M:%S')

In [17]:
#test_date_str.strftime('%Y-%m-%d %H:%M:%S')

# cap news stories at max number of op_ed stories and export for NLP

In [18]:
oped_mask = uber2019['type_of_material'] == "Op-Ed"
news_mask = uber2019['type_of_material'] == "News"

In [19]:
oped_df = uber2019[oped_mask]
news_df = uber2019[news_mask]

In [20]:
oped_df.shape

(4139, 21)

In [21]:
news_df.shape

(37609, 21)

- pseudocode
1. sort op-ed and news
2. randomly choose (ranint) oped or news to create 50/50 split database

# dataset of full type and text

In [22]:
#_2019_text_type_df = uber2019.drop(all_but_text_type, axis=1)

In [23]:
#_2019_text_type_df.reset_index(inplace=True, drop=True)

In [24]:
#_2019_text_type_df = _2019_text_type_df[['text', 'type_of_material']]

In [25]:
#_2019_text_type_df.to_csv('2019_text_type.csv')

In [26]:
#_2019_text_type_df.head()

# dataset for jan19 multi naive baise

In [27]:
#jan19_df = jan19_df.drop(all_but_text_type, axis=1)

In [28]:
#jan19_df.reset_index(inplace=True, drop=True)

In [29]:
#jan19_df = jan19_df[['text', 'type_of_material']]

In [30]:
#jan19_df.to_csv('jan19.csv')

# function to target actual text of article. peal off extra paragraph added by beautiful soup

## there were a portion of these that weren't able to parse the string completely

In [31]:
_2019_trim_fat_df = uber2019.copy()

In [32]:
_2019_trim_fat_df.shape

(41748, 21)

In [33]:
import ast
def trim_first_name(row):
    try: 
        lead_paragraph = row.lead_paragraph
        byline = row.byline
        text = row.text

        byline = ast.literal_eval(byline)
        person = byline['person']
        first = person[0]['firstname']

        first_split = text.split(lead_paragraph)
        first_split = first_split[1]

        second_split = first_split.split(first)
        output = second_split[0]
    
    except:
        
        output = 'NaN'
    
    
    return output

In [34]:
_2019_trim_fat_df = uber2019.copy()

In [35]:
_2019_trim_fat_df.shape

(41748, 21)

In [36]:
#_2019_trim_fat_df[[_2019_trim_fat_df.text == None]]

In [37]:
%%time
#trim and filter df..
_2019_trim_fat_df['text'] = _2019_trim_fat_df.apply(trim_first_name, axis=1)

CPU times: user 3.52 s, sys: 181 ms, total: 3.71 s
Wall time: 3.73 s

In [38]:
output_df = _2019_trim_fat_df[_2019_trim_fat_df['text'] != 'NaN']

In [39]:
output_df.reset_index(inplace=True)

In [59]:
output_df.lead_paragraph

AttributeError: 'DataFrame' object has no attribute 'lead_paragraph'

In [41]:
output_df = output_df.drop(all_but_text_type, axis=1)
output_df.reset_index(inplace=True, drop=True)
output_df = output_df[['text', 'type_of_material']]
#output_df.to_csv('drop2019_text_type.csv')
output_df.head()
output_df.shape

(37727, 2)

In [42]:
#drop 4000 articles

In [43]:
output_df.head()

                                                text type_of_material
0  ', 'In his essay “The Crack-Up,” F. Scott Fitz...            Op-Ed
1  ', 'In 2019, here’s what we could do instead.'...            Op-Ed
2  ', 'Many years before, back in Russia, the two...            Op-Ed
3  ', 'At a critical moment in the film, just aft...            Op-Ed
4  ', 'No other country in the world symbolizes t...            Op-Ed

In [44]:
punc_list = uber2019.copy()

In [45]:
punc_list = punc_list.text

In [48]:
list_ = []
for doc in punc_list:
    for char in doc:
        if not char.isalnum():
            list_.append(char)

In [50]:
len(list_)

61970759

In [51]:
list_ = list(dict.fromkeys(list_))

In [55]:
string = ''
for char in list_:
    string += char

In [58]:
(string)

'[\', .“-”’!—:()?@]$;"–/#|&‘°\\…%<‐+¡«»_•*>›=€·■♦£💃🏽∙≠{}¿😂¥̇̃★§🇺🇸©！💣。^‑🔥😡″̀🚨⃣😤🌫`●🤭✓📖📹✋👀¢💔😞‒📲📺🎙￼😎↓❤️😘🎉🥂🦔🥩🐐🍑🤸🕳🌵⛽⚕🔊™†‾′̈״÷💜💛¨´💥☄́~‚⌚↑🏁🇰🇪🌎→🗣─‼◇😾🤷🏻♂✔💪®♪😱👍،¯⌘🌈🤩✨̊🤣−😉♥👏💩🤐💋🧓👮👴♀🥴🐎⚡🤔🙁×💯🚂🙏🏾่াং়ে্িু🍆💦🎥💌◾📱👋🏼؟🙂🚫❗🙄🛑🌧❄̶🤝；🤯🧵😹¶➡😏🔧✌➼◉🐱⚪̧̄➔😺😁🇬🇧👎🍺'

In [88]:
lead_paragraph_eda = uber2019.copy()

In [89]:
lead_paragraph_eda.lead_paragraph[1000]

'To update a bathroom, you could swap out the cabinet pulls and switch the faucet. But if you’re ready for a bigger change, almost nothing is more effective than new tile.'

In [90]:
lead_paragraph_eda.type_of_material[1000]

'News'

In [91]:
lead_paragraph_eda.web_url[1000]

'https://www.nytimes.com/2019/01/08/realestate/rebooting-the-bathroom.html'

In [95]:
lead_paragraph_eda.iloc[1000]

abstract            Installing new tile might not be the easiest w...
web_url             https://www.nytimes.com/2019/01/08/realestate/...
snippet             Installing new tile might not be the easiest w...
lead_paragraph      To update a bathroom, you could swap out the c...
source                                             The New York Times
multimedia          [{'rank': 0, 'subtype': 'xlarge', 'caption': N...
headline            {'main': 'Rebooting the Bathroom', 'kicker': '...
keywords            [{'name': 'subject', 'value': 'Real Estate and...
pub_date                                     2019-01-08T10:00:09+0000
document_type                                                 article
news_desk                                                  RealEstate
section_name                                              Real Estate
byline              {'original': 'By Tim McKeough', 'person': [{'f...
type_of_material                                                 News
_id                 nyt://article/fe7227c4-b9e4-5f5d-8588-af8f2a99...
word_count                                                       1435
uri                 nyt://article/fe7227c4-b9e4-5f5d-8588-af8f2a99...
print_section                                                      RE
print_page                                                          6
subsection_name                                                   NaN
text                ['Advertisement', 'Supported by', 'THE FIX', '...
Name: 1000, dtype: object

In [96]:
real_estate = lead_paragraph_eda[lead_paragraph_eda['news_desk'] == 'RealEstate']

In [98]:
real_estate.reset_index(inplace=True)

In [ ]:
lead_paragraph_eda[lead_paragraph_eda]

In [99]:
op_ed_df = uber2019.copy()

In [100]:
op_ed_df = op_ed_df[op_ed_df['type_of_material'] == "Op-Ed"]

In [114]:
op_ed_df.section_name.unique()

array(['Opinion', 'Technology', 'Sunday Review'], dtype=object)

In [115]:
op_ed_df.news_desk.unique()

array(['OpEd', 'Business', 'Editorial', 'National', 'SundayReview',
       'Society', 'Video'], dtype=object)

In [133]:
Opinion = op_ed_df[op_ed_df['section_name'] == 'Opinion']

In [131]:
# #actually a really cute article about decluttering your tech.

# Technology.web_url[239]

# keep all op-ed pieces

In [162]:
# Opinion.news_desk.value_counts()

In [163]:
#Editorial = Opinion[Opinion['news_desk'] == 'Editorial']

In [164]:
#podcast_lead = Editorial[Editorial.lead_paragraph == 'Listen and subscribe to our podcast from your mobile device:']

In [165]:
#Editorial.iloc[0]

In [166]:
#Video = Opinion[Opinion['news_desk'] == 'Video']

In [167]:
#Video.web_url[25731]

In [194]:
news_df = uber2019.copy()

In [203]:
_news_df = news_df[news_df.type_of_material == "News"]

In [204]:
Opinion_news = _news_df[_news_df.section_name == 'Opinion']

In [205]:
Opinion_news.shape

(34, 21)

In [213]:
news_section_keep = ['U.S.', 'World', 'Arts', 'Business Day', 'Sports',' New York']
news_se

In [222]:
testy_df = uber2019.copy()

In [ ]:
mask

In [225]:
newss_df = testy_df[testy_df.type_of_material == 'News']

In [233]:
newss_df = newss_df[newss_df.section_name in news_section_keep]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [220]:
news_section_drop_test.drop(columns=news_section_keep)

KeyError: "['U.S.' 'World' 'Arts' 'Business Day' 'Sports' ' New York'] not found in axis"

In [207]:
Opinion_news = Opinion_news[Opinion_news.section_name == 'Opinion']

# OPINION_NEWS PIECES MUST BE labeled OP-ed

In [210]:
Opinion_news.web_url.iloc[0]

'https://www.nytimes.com/2019/02/11/opinion/great-backyard-bird-count.html'

In [214]:
news_df.news_desk.value_counts()

Foreign            4787
OpEd               4085
Business           3439
Culture            3100
Washington         2893
Sports             2750
Express            1782
National           1621
Metro              1575
Politics           1520
Styles             1493
Dining             1074
Science            1067
Society            1027
Learning            916
Weekend             904
RealEstate          703
Magazine            637
Arts&Leisure        633
Well                615
Travel              603
TStyle              494
Games               478
BookReview          363
SundayBusiness      353
SpecialSections     325
Climate             317
Podcasts            304
Metropolitan        290
Smarter Living      260
Upshot              246
Books               159
Summary             159
Insider             130
Investigative       124
NewsDesk            100
Photo                98
Editorial            66
Gender               56
Parenting            53
Universal            43
Corrections          33
Obits                26
Video                16
NYTNow               10
NYTI                 10
Graphics              3
Neediest              3
SundayReview          2
Watching              2
Test                  1
Name: news_desk, dtype: int64

In [212]:
news_df.section_name.value_counts()

U.S.                    7179
World                   5091
Opinion                 4168
Arts                    3479
Business Day            3060
Sports                  2830
New York                1866
Fashion & Style         1341
Style                   1274
Food                    1044
The Learning Network     917
Real Estate              751
Movies                   721
Technology               715
Books                    676
Well                     660
Magazine                 642
Science                  628
Travel                   605
Health                   537
T Magazine               496
Crosswords & Games       494
Theater                  453
Reader Center            378
Climate                  338
Podcasts                 308
The Upshot               261
Smarter Living           228
Your Money               146
Lens                      79
Neediest Cases            74
Parenting                 61
Admin                     39
Corrections               35
Education                 33
The Weekly                26
Today’s Paper             20
Briefing                  20
Times Insider             19
Obituaries                16
Video                     14
Universal                 11
Automobiles                8
Sunday Review              4
Homepage                   2
Watching                   1
Name: section_name, dtype: int64

Foreign            4787
OpEd               4085
Business           3439
Culture            3100
Washington         2893
Sports             2750
Express            1782
National           1621
Metro              1575
Politics           1520
Styles             1493
Dining             1074
Science            1067
Society            1027
Learning            916
Weekend             904
RealEstate          703
Magazine            637
Arts&Leisure        633
Well                615
Travel              603
TStyle              494
Games               478
BookReview          363
SundayBusiness      353
SpecialSections     325
Climate             317
Podcasts            304
Metropolitan        290
Smarter Living      260
Upshot              246
Books               159
Summary             159
Insider             130
Investigative       124
NewsDesk            100
Photo                98
Editorial            66
Gender               56
Parenting            53
Universal            43
Corrections          33
Obits                26
Video                16
NYTNow               10
NYTI                 10
Graphics              3
Neediest              3
SundayReview          2
Watching              2
Test                  1
Name: news_desk, dtype: int64

In [ ]:
#1. leave op-ed as-it
#2. change 'type_of_material' df[df.type_of_material == 'News'].section_name == 'Opinion' to "Op-Ed"
3. 
def get_lean(df):
    df = uber2019.copy()
    
    
    
    
type_of_material == 'News'
news_desk = ['RealEstate']